<div class="contain">
  <!-- sidebar -->
  <app-sidebar></app-sidebar>
  <!-- sidebar -->
  <main class="main">
    <!-- navbar -->
    <app-navbar></app-navbar>
    <!-- navbar -->
    <section class="section__main">
      <div class="main__info">
        <h2 class="main__subtitle">Pending execution</h2>
        <div class="main__cards" *ngFor="let card of getProccessData()">
          <app-card [data]="card"></app-card>
        </div>
        <h2 class="main__subtitle main__subtitle--margin">Completed</h2>
        <div class="main__cards" *ngFor="let card of getCompletedData()">
          <app-card [data]="card"></app-card>
        </div>
      </div>
      <!-- aside -->
      <app-aside></app-aside>
      <!-- aside -->
    </section>
  </main>
</div>
