<div class="sidebar">
  <div class="sidebar__main">
    <h2 class="sidebar__title">SOL</h2>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <div class="circle"></div>
        Buy crypto
      </li>
      <li class="sidebar__item">
        <div class="circle"></div>
        Transfer
      </li>
      <li class="sidebar__item">
        <div class="circle"></div>
        Exchange
      </li>
      <li class="sidebar__item sidebar__item--active">
        <div class="circle circle--active"></div>
        History
      </li>
    </ul>
    <div class="sidebar__wallets">
      <h3 class="sidebar__wallets-title">WALLETS</h3>
      <ul class="sidebar__list">
        <li class="sidebar__wallet-item">
          <div class="circle circle--orange"></div>
          <div class="sidebar__walltets-texts">
            <span class="sidebar__span">Bitcoin</span>
            <span class="sidebar__span-bold"> 1.23 BTC</span>
          </div>
        </li>
        <li class="sidebar__wallet-item">
          <div class="circle circle--gray"></div>
          <div class="sidebar__walltets-texts">
            <span class="sidebar__span">Ethereum</span
            ><span class="sidebar__span-bold"> 3.41 ETH</span>
          </div>
        </li>
        <li class="sidebar__wallet-item">
          <div class="circle circle--green"></div>
          <div class="sidebar__walltets-texts">
            <span class="sidebar__span">Tether</span
            ><span class="sidebar__span-bold">1024.53 USTD</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar__footer">
    <p class="sidebar__footer-text">About - Privacy - Terms</p>
    <p class="sidebar__footer-text-small">Power by Sol</p>
  </div>
</div>
