.sidebar__main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 18vw;
  padding-right: 55px;
}
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__title {
  font-size: 32px;
  color: var(--primary-color);
}
.sidebar__list {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  cursor: pointer;
  display: flex;  
  gap: 15px;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 10px 25px;
}
.sidebar__wallet-item{
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 12px 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0 25px;

}
.sidebar__item--active {
  background-color: #f5ecff;
  color: #9f3fff;
  border-radius: 0 22px 22px 0;
}
.sidebar__item:hover {
  background-color: #f5ecff;
  color: #9f3fff;
  border-radius: 0 22px 22px 0;
}
.sidebar__item:hover .circle{
  background-color: #9f3fff;

}
.sidebar__wallets-title {
  font-size: 14px;
  margin-bottom: 25px;
  color: var(--secondary-color);
}
.circle {
  width: 30px;
  aspect-ratio: 1;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.circle--active{
  background-color: #9f3fff;

}
.circle--orange {
  background-color: #f7931a;
}
.circle--gray {
  background-color: #eef1f6;
}
.circle--green {
  background-color: #53ae94;
}
.sidebar__walltets-texts {
  display: flex;
  flex-direction: column;
}
.sidebar__span {
  font-size: 16px;
}
.sidebar__span-bold {
  font-weight: 700;
}

.sidebar__footer-text {
  color: var(--secondary-color);
}
.sidebar__footer-text-small {
  font-size: 14px;
  color: #b8bfcf;
}
