<aside class="aside">
  <h2 class="aside__title">Buy Details</h2>

  <div class="aside__content">
    <div class="aside__item">
      <h3 class="aside__subtiyle">TxHash:</h3>
      <p class=" aside__token">
        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      </p>
    </div>
    <div class="aside__item">
      <h3 class="aside__subtiyle">TxReceipt Status:</h3>
      <p class="aside__text">Pending execution</p>
    </div>
    <div class="aside__item">
      <h3 class="aside__subtiyle">Purchase from the card</h3>
      <p class="aside__text">** 3232</p>
    </div>
    <div class="aside__item">
      <h3 class="aside__subtiyle">To USDT Wallet</h3>
      <p class="aside__text">**98578hfms</p>
    </div>
  </div>
  <div class="aside__footer">
    <div class="aside__footer-text">
      <div class="circle">{{"<"}}</div>
      Repeat
    </div>
    <div class="aside__footer-text">
      <div class="circle">X</div>
      Undo
    </div>
  </div>
</aside>
